name: Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to release (or "auto")
        required: false
      force:
        description: Force a release even when there are release-blockers
        type: boolean
        default: false

permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  release:
    runs-on: ubuntu-latest
    name: Release a new version
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Prepare release
        uses: getsentry/craft@v2
        with:
          version: ${{ inputs.version || 'auto' }}
          force: ${{ inputs.force && 'true' || 'false' }}
          publish_repo: self
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
